#storageImg {
    width: 30px;
}

#big-block1 {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* button {
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 5px;
    background-color: #24B47E;
    transition: 0.3s;
    color: white;
} */

#startBtn {
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 5px;
    background-color: #24B47E;
    transition: 0.3s;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

#startBtn:hover {
    background-color: #177552;
}

#MainBlock1Img {
    margin-left: 180px;
}

h2 {
    font-size: 40px;
}

#mini-block-row {
    display: flex;
    align-items: center;
    gap: 15px;
}

#low-block1 {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#main-low {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 150px;
    width: 1250px;
    /* gap: 100px; */
}

#secondB-btns {
    margin-top: 100px;
    display: flex;
    justify-content: start;
    gap: 10px;
    width: 900px;
}

#sB-btn {
    font-size: 14px;
    padding: 15px;
}

#sB-btn:hover {
    background-color: #2A2A2A;
    border-radius: 6px;
}

#scImgB {
    margin-top: 40px;
    width: 600px;
}

#mini-block-dick {
    display: flex;
    flex-direction: column;
    margin-top: 280px;
    margin-left: -60px;
    gap: 10px;
}

#d-btn {
    width: 95px;
    height: 35px;
    gap: 0px;
    opacity: 0px;
    background-color: #1374EF;
    color: white;
    border: none;
    cursor: pointer;
}

#d-btn:hover {
    background-color: #0c4794;
}

.CrtdBy {
    display: flex;
    gap: 10px;
}

#mini-blockinf {
    width: 350px;
}

#mini-qw {
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 5px;
}